<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Adoption</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Name of the dog</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
          <p>
            <strong>Contact for more info:</strong> {{example.email}}</p>  
            <a href="/">← Back to Home Page</a>

            <button onclick="adopt()">Adopt dog</button>

            <script>
              function adopt(){
              alert("Congrats and thank you for adopting a dog !!!")
              } 
            </script>
        </div>
      </div>
    </div>
  </div>
</div>
