<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
          <a href="/contact" class="btn btn-sm btn-outline-secondary" >Contact Us</a>
          </form>
        </nav>
        <br></br>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Adoption</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Name of the dog</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
          <p>
            <strong>Contact for more info:</strong> {{example.email}}</p>  
            <a href="/">← Back to Home Page</a>

            <button onclick="adopt()">Adopt dog</button>

            <script>
              function adopt(){
              alert("Congrats and thank you for adopting a dog !!!")
              } 
            </script>
        </div>
      </div>
      <br></br>
      <div class="container">
               <div class="row">
                   <div class="col-6">
                            <div class="card" style="width: 18rem;">
                               <img src="DogHouse/img/dog1.png" class="card-img-top" alt="puppie">
                                <div class="card-body">
                                 <h5 class="card-title">Did you know...?</h5>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                   </div>   
                   <div class="col-6">
                        <div class="card" style="width: 18rem;">
                         <img src="DogHouse/img/dog2.png" class="card-img-top" alt="puppies">
                          <div class="card-body">
                            <h5 class="card-title">Did you know...?</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                   </div>
                </div>       
        </div>
      <br></br>
      <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
             <blockquote class="blockquote mb-0">
                <p>Because every dog diserves a LOVING FAMILY.</p>
                <footer class="blockquote-footer">Valeria OG <cite title="Source Title">Dog Home</cite></footer>
              </blockquote>
          </div>
        </div>
    </div>
  </div>
</div>
