<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
          <a href="/contactus.html" class="btn btn-sm btn-outline-secondary" >Dog Home</a>
          </form>
        </nav>
        <br></br>
               <h1 class="card-title">Welcome to Dog Home</h1>
                 <div class="bonita">
                   <p class="card-text">Here you can adopt or give for adoption street dogs that need a loving family... Adoption couldn't be easier and faster !!!</p>
                   <p class="card-text">Adopt a dog NOW!!</p>
                </div>   

        <br></br>  
        <div class="container">
               <div class="row">
                   <div class="col-6">
                            <div class="card" style="width: 18rem;">
                               <img src="../img/dog1.png" class="card-img-top" alt="puppie">
                                <div class="card-body">
                                 <h5 class="card-title">Did you know...</h5>
                                 <p class="card-text">There are 28 million dogs of which 70% live on the street, this number grows 20% each year.</p>
                                 
                                </div>
                            </div>
                   </div>   
                   <div class="col-6">
                        <div class="card" style="width: 18rem;">
                         <img src="../img/dog2.png" class="card-img-top" alt="puppies">
                          <div class="card-body">
                            <h5 class="card-title">Did you know...</h5>
                            <p class="card-text">Mexico is the country with most street dogs in Latin America.</p>
                           
                          </div>
                        </div>
                   </div>
                </div>       
        </div>

        <br></br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Add the name of the dog :</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Example: Kira">
          </div>
          <div class="form-group">
            <label for="example-description">Give us a description of the dog:</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="In what conditions did you found the dog, what breed is the dog,the age (if possible),etc. "></textarea>
          </div>
           <div class="form-group">
            <label for="example-email">Give us an e-mail to contact you :</label>
            <input type="text" id="example-email" class="form-control" aria-describedby="example-email" placeholder="Example: example@example.com">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <br></br>
        
        <h3>Dogs for adoption:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="dog/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">Delete</button>
          </li>
          {{/each}}
        </ul>
        <br></br>
        <div class="card">
          <div class="card-header">
            Contact Us:
          </div>
          <div class="card-body">
             <blockquote class="blockquote mb-0">
                <p>
                  <li>Facebook: Dog Home</li>
                  <li>Instagram: Dog Home</li>
                  <li>Whats App: 844-000-00</li>
                  <li>E-mail: doghome@yahoo.com</li>
                  <li>Location: Alvaro Obregon #567, CDMX</li>
                </p>
                <footer class="blockquote-footer">Because every dog deserves a LOVING FAMILY. <cite title="Source Title"></cite></footer>
              </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="/js/index.js"></script>
